  body {
      font-family: "Poppins", sans-serif;
      line-height: 1.6;
      color: #333;
      background-color: #fff;
      overflow-x: hidden;
    }

    h1, h2, h3, h4, h5 {
      font-weight: 700;
    }

    a {
      text-decoration: none;
    }

.navbar {
  padding: 15px 0;
}

.nav-link {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  margin: 0 10px;
}

.nav-link:hover,
.nav-link.active {
  color: #007bff; /* highlight */
}

.btn-contact {
  background: #007bff;
  color: white;
  padding: 8px 20px;
  border-radius: 25px;
  transition: 0.3s;
}

.btn-contact:hover {
  background: #0056b3;
}

.about-us-section {
  background: url("./assets/Mask\ group.png") center/cover no-repeat;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
}

.text-left,
.breadcrumb-text {
  color: #fff;
  font-size: 16px;
}

.breadcrumb-text a {
  text-decoration: none;
  color: #ffc107;
  font-weight: 600;
}

.project-card {
  min-width: 260px;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  transition: 0.3s;
}

.project-card img {
  width: 70%;;
  border-radius: 12px;
  margin-bottom: 10px;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 8px 20px rgba(0,0,0,0.1);
}
.project-card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  transition: 0.3s;
  height: 100%;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.project-btn {
  background: black;
  color: white;
  padding: 6px 20px;
  border-radius: 30px;
}

/* HAPPY CLIENTS */
.client-card {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  transition: 0.3s;
}

.client-card img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 15px;
  border-color: #007bff;
}

.client-card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
}

.client-name {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
}

